*
  -webkit-overflow-scrolling touch

.wrapper
  width 100%
  height 100%
  -webkit-overflow-scrolling touch

.el-table td
  padding .12rem 0

.el-table .cell
  line-height: .23rem;
  padding-right: .10rem;
  padding-left: .10rem;
  
.el-table
  background-color transparent !important

.el-table th, .el-table tr
  background-color transparent !important

.el-table .el-table__body-wrapper tr,
.el-table .el-table__body-wrapper tr td
  background-color #fff

.el-table td, .el-table th
  font-size: .18rem !important;
  color: #34495E !important;

.el-table--enable-row-hover .el-table__body tr:hover>td
  background-color #fff !important

.el-table__row.current-row
  background-color #E7F0F7 !important
  td
    background-color #E7F0F7 !important
.el-table__body tr.el-table__row.yellow
  background-color #FFF5F5 !important
  td
    background-color #FFF5F5 !important

.el-table__empty-text
  text-align center

.el-popover
  padding 0
  min-width 90px
  .sub-btn-list
    width 100%
    padding-left .1rem
    padding-top .05rem
    .sub-btn-item
      display flex
      align-items center
      height .34rem
      border-bottom 1px solid #e4e4e5
      &:last-child
        border-bottom none
      .icon
        width .19rem
        height .19rem
        margin-right .05rem
        background-repeat no-repeat
        background-position center
        background-size .19rem .19rem
        &.icon-rubbish
          background-image url('../../assets/images/icon-rubbish.png')
        &.icon-refresh
          background-image url('../../assets/images/icon-refresh.png')
      .text
        font-size .12rem
        color #34495E
  .text-con
    padding .1rem .13rem .18rem
    .tit
      color #A7AAB2
      font-size .12rem
      margin-bottom .07rem
    .sub-item
      display flex
      margin-bottom .07rem
      .sub-tit
        width .7rem
        font-size .12rem
        font-weight bold
        color #34495E
      .sub-desc
        display flex
        flex 1
        font-size .12rem
        color #34495E
#viewDiff
  .el-select
    width 1.2rem
    height .34rem
    margin-right .31rem
    .el-input__inner
      width 1.2rem !important
      height .34rem !important
      color #34495E
.mint-indicator
  z-index 98 !important
  .mint-indicator-wrapper
    z-index 99 !important

.mint-msgbox
  width 40% !important

.good-productcode
  font-family PingFangSC-Regular
  font-size 0.16rem
  color #1296DB !important
  cursor pointer
  text-decoration underline

.no_padding .el-table tr td .cell
  padding-left 0 !important
  padding-right 0 !important

// 

.table
  .el-table
    th
      padding .08rem 0 !important
      .cell
        font-family PingFangSC-Regular !important
        font-size .14rem !important
        color #34495E !important
// 
.icon-edit.paddFa
 padding 0.22rem 0.3rem !important;
.unit-con .unit
  white-space: nowrap;
  padding-left: .2rem;
  margin-right 0 !important;

.num-con
  min-width: .9rem !important;
  .icon-edit
    position unset !important;
  .num
    white-space: nowrap;
    min-width: .6rem !important;
    margin-right: 0 !important;

.no_opacity
  opacity 0

.btn-save.disabled
  background-color #E4E4E5 !important;
  color #FFFFFF !important;

.product-con{
  align-items: center !important;
  .thumbnail .mask{
    background-color: rgba(255,255,255,0) !important;
  }
}