@import './variable.less';
@import "./mixin";
@import './animate.less';
@import './layoutGap.less';


body, pre {
  color: @default-font-color;
  font-size: @default-font-size;
  font-family: @default-font;
  font-weight: @default-font-weight;
}

input, select, textarea {
  -webkit-appearance: none;
  border: 1px solid #ccc;
  font-size: @default-font-size;
  color: @default-font-color !important;
}

input, textarea {
  .placeholder() {
    font-size: @default-font-size;
    color: #777;
  }

  &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    .placeholder();
  }

  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    .placeholder();
  }

  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    .placeholder();
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    .placeholder();
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

/* 隐藏滚动条 */
::-webkit-scrollbar {
  display: none
}

h1 {
  font-size: 28px;
  font-weight: @font-weight-07;
}

h2 {
  font-size: 20px;
  font-weight: @font-weight-07;
  line-height: 29px;
}

h3 {
  font-size: 18px;
  font-weight: @font-weight-07;
}

h4 {
  font-size: 14px;
  font-weight: @font-weight-04;
}

small {
  font-size: 12px;
  color: @gray-06;
}

label {
  font-size: 12px;
}

p {
  line-height: @default-line-height;
}

a {
  color: @turq-06;

  &:hover {
    color: @turq-07;
  }

  &:extend(p);
}

a.no-decoration {
  &:hover {
    text-decoration: none;
  }
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  flex-direction: column;
  -ms-flex-direction: column;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.dib {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.margin-center {
  margin: 0 auto;
}

.no-warp {
  white-space: nowrap;
}

// 省略
.ellipsis {
  .no-warp;
  text-overflow: ellipsis;
  overflow: hidden;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.cursor-pointer {
  cursor: pointer
}

.rotate180 {
  transform: rotate(180deg);
}

.default-label {
  font-family: @default-font;
  font-size: @default-font-size;
  color: @default-font-color;
  font-weight: @default-font-weight;
  line-height: @default-line-height;
}

.common-bg {
  background-repeat: no-repeat;
  background-size: 88px 88px;
  content: "";
  position: absolute;
  width: 88px;
  height: 88px;
  left: 0;
  bottom: 0;
}

.common-bg01 {
  background-repeat: no-repeat;
  background-size: 66px 66px;
  content: "";
  position: absolute;
  width: 66px;
  height: 60px;
  left: -22px;
  bottom: -16px;
  opacity: 0.4;
}

// 节点
.node::before {
  background-image: url('./../../assets/image/node.svg');
  &:extend(.common-bg);
}

// 正常节点
.run_node::before {
  background-image: url('./../../assets/image/run_node.svg');
  &:extend(.common-bg);
}

// 接口数
.endpoint::before {
  background-image: url('./../../assets/image/endpoint.svg');
  &:extend(.common-bg);
}

// 异常节点
.error_node::before {
  background-image: url('./../../assets/image/error_node.svg');
  &:extend(.common-bg);
}

// 部署组
.appliance::before {
  background-image: url('./../../assets/image/appliance.svg');
  &:extend(.common-bg);
}

// 事件订阅
.bookevent::before {
  background-image: url('./../../assets/image/bookevent.svg');
  &:extend(.common-bg);
}

// 持续时间
.timeIcon::before {
  background-image: url('./../../assets/image/time.svg');
  &:extend(.common-bg01);
}

// 服务
.serverIcon::before {
  background-image: url('./../../assets/image/serverIcon.svg');
  &:extend(.common-bg01);
}

// 深度
.deepIcon::before {
  background-image: url('./../../assets/image/deepIcon.svg');
  &:extend(.common-bg01);
}

// span数量
.spanCount::before {
  background-image: url('./../../assets/image/spanCount.svg');
  &:extend(.common-bg01);
}

// 蓝色的自定义tooltip 主题， 由于 element 优先级设计缺陷，需要加 import 提权重
.custom-tooltip {
  color: #fff;
  background-color: @turq-06 !important;

  &[x-placement^=bottom] .popper__arrow {
    border-bottom-color: @turq-06 !important;

    &:after {
      border-bottom-color: @turq-06 !important;
    }
  }

  &[x-placement^=top] .popper__arrow {
    border-top-color: @turq-06 !important;

    &:after {
      border-top-color: @turq-06 !important;
    }
  }
}

// 自定义的 popper
.custom-popper {
  background-color: @gray-08 !important;
  color: #FFFFFF !important;
}

// 全局常驻 tooltip样式
.resident-tooltip {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: @turq-06;
  border-radius: 3px;
  padding: 5px 0;
  height: 30px;
  width: 60px;

  &.disabled {
    background-color: @gray-04;
  }
}

// 高度自适应居中的 form-item
.middle-form-item {
  display: flex;
  align-items: center;

  .el-form-item__content {
    flex: 1;
  }

  .demonstration {
    display: inline-flex;
    align-items: center;
  }
}

// input-filter 的样式
.input-filter {
  width: 80%;
}

// icon 颜色
.iconfont {
  &.red {
    color: @red-05;
  }

  &.yellow {
    color: @warning-color;
  }

  &.green {
    color: @success-color;
  }

  &.icon-title {
    font-size: 52px;
  }
}

// 每个带左侧编辑的 "一级页面" 的右侧的 app-right
// app-right 配合 dy-card 完成一级页面布局
.app-right {
  flex: 1;
  &:extend(.pr16);
}


// dy-card 布局使用的时候的样式
.dy-card.margin-card {
  margin: 10px;
}

.dy-card {
  .row-title,
  .row-desc {
    &:extend(.mb32);

    & + .row-action {
      margin-top: 0;
    }
  }

  .row-desc {
    &:extend(.mt8);
  }

  .row-action {
    &:extend(.mt20);
    &:extend(.mb24);

    & + .row-action {
      margin-top: 0;
    }
  }

  .row-content {
    &:extend(.pt8);
    &:extend(.pb32);
  }
}

// 设置页面中的添加 form 外层 box 相关
.add-panel {
  padding: 20px 20px 30px 20px;
  background-color: @gray-02;
}

// 默认的form 宽度
.form-default-width {
  width: @form-default-width;
}

// form 的 提交操作 button 组
.el-form {
  .btns {
    padding-top: 32px;
  }
}

// 分类列表：比如应用列表设置分类的 radio 列表
.category-edit-list {
  margin: 27px 0 50px 0;
}

// 媒介自适应box
@media only screen and (min-width: 1280px) and (max-width: 1440px) {
  .scale-box {
    transform: scale(0.9);
  }
}


@media only screen and (max-width: 1280px) {
  .scale-box {
    transform: scale(0.75);
  }
}


// 旧的 边距样式，排查完页面后，清理掉

/* *
* layout
* m => margin
* p => padding
* t => top
* b => bottom
* l => left
* r => right
*/


// margin

.mt34 {
  margin-top: 34px;
}

.mb34 {
  margin-bottom: 34px;
}

.mt40 {
  margin-top: 40px;
}

// padding
.pb40 {
  padding-bottom: 40px;
}

.pt40 {
  padding-top: 40px;
}


/*
 * form表单类的间隔
*/

.form-section {
  margin-bottom: 24px;
}

.h3-title-pt { // form里h3标题 form块的间隔32+8=40px
  padding-top: 40px;
}

.h3-title-mb { // form里h3标题 下间隔24px
  padding-bottom: 24px;
}

.h3titledesc-mb-style1 { // form里h3标题下的desc 下间隔37px
  margin-bottom: 37px !important;
}

.h3titledesc-mb-style2 { // form里h3标题下的desc 下间隔27px
  margin-bottom: 27px !important;
}
