@import "color";

/*
 * 字重
*/
@font-weight-01: 100;
@font-weight-02: 200;
@font-weight-03: 300;
@font-weight-04: 400; // normal
@font-weight-05: 500;
@font-weight-06: 600;
@font-weight-07: 700; // bold
@font-weight-08: 800;
@font-weight-09: 900;

/*
 * 主题字体设置
*/
// 默认字体
@default-font: SourceHanSansSC-Regular, SourceHanSansSC;
// 默认字体颜色
@default-font-color: @gray-09;
// 默认字体 size
@default-font-size: 14px;
// 默认字体粗细
@default-font-weight: 400;
// 默认行高
@default-line-height: 24px;
// 默认边框的粗细
@default-border-width: 1px;
//默认边框的圆角
@default-border-radius: 3px;

// 默认form 表单的宽度
@default-form-width: 425px;


// 默认贝赛尔曲线
//@default-bezier: ease-in-out;
@default-bezier: cubic-bezier(0, 0, 0.58, 1);

@default-animate-time: 0.23s;

// 设置页面的default width
@form-default-width: 425px;

// 下拉框的 z-index
@popup-z-index: 9;
